
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 11, 65);
  font-size: 1.1rem;
}
.ALL {
  border: 1px solid white;
  background:linear-gradient(skyblue,gray);
  height: 400px;
  width: 700px;
  position: absolute;
  top: 100px;
  left: 450px;
  border-radius: 20px;
  color:black;
}
.input {
  width: 300px;
}
#inp {
  width: 450px;
  height: 50px;
  position: absolute;
  top: 430px;
  left: 20px;
  margin: 0 0 0 3rem;
  border-radius: 5px 0 0 5px;
  text-align: center;
  color: black;
  background:linear-gradient(silver,white);
  font-size: x-large;
  border: 2px solid white;
}
#inp:hover {
  border: 2.2px solid white;
  box-shadow: 0px 0px 1px 0.5px white;
}
#submit {
  width: 80px;
  height: 57px;
  position: absolute;
  top: 429px;
  left: 445px;
  border-radius: 0 5px 5px 0;
background-color:   #DC143C;
  font-size: large;
  color: white;
}
#submit:hover {
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px black;
}
.temp {
  position: relative;
  top: 150px;
  left: 420px;
  width: 100px;
  height: 200px;
  font-size: xxx-large;
  text-align: center;
  align-items: center;
  text-align: 10px;
}

.cond {
  position: absolute;
  top: 130px;
  left: 115px;
  width: 350px;
  height: 300px;
  font-size: xx-large;
  text-align: center;
  align-items: center;
  padding: 80px 0 0 0;
}
.icon {
  position: absolute;
  top: 100px;
  left: 250px;
  width: 300px;
  height: 100px;
  font-size: xxx-large;
  text-align: start;
}
.out {
  position: absolute;
  top: 10px;
  left: 40px;
  width: 300px;
  height: 100px;
  font-size: xx-large;
  text-align: start;
  align-items: center;
}
#region {
  position: absolute;
  top: 50px;
  left: 48px;
  width: 50px;
  height: 100px;
  text-align: start;
}
#country {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 100px;
  height: 100px;
  text-align: center;
}
.day {
  position: absolute;
  top: 150px;
  left: 50px;
  width: 100px;
  height: 50px;
  font-size: larger;
  margin: 3px 0 0 0;
  text-align: center;
}
.date {
  position: absolute;
  top: 180px;
  left: 50px;
  width: 100px;
  height: 100px;
  font-size: larger;
  margin: 5px 0 0 0;
  text-align: center;
}
.locationmark {
  position: absolute;
  top: 20px;
  left: 15px;
}
.wind {
  position: absolute;
  top: 250px;
  left: 25px;
  width: 200px;
  height: 100px;
  font-size: larger;
  margin: 10px 0 0 0;
  text-align: start;
}